/* Search.css */

/* Styling for the container */
.search-container {
    text-align: center; /* Center the content horizontally */
    height: 100px; /* Set the height of the container */
    width: 80%; /* Set the width of the container */
    margin: auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for spacing */
}
  
  /* Styling for the input */
  .search-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styling for the list */
  .search-list {
    list-style: none;
    padding: 0;
  }
  
  /* Styling for each item in the list */
  .search-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #475a4b;
    border-radius: 5px;
    border: 1px solid #ffffff;
  } 
  
  /* Additional styles can be added based on your design preferences */
  
  