.body {
    width: 80%;
    margin: auto;
}

.title {
    background-color: rgb(68 114 196);
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.context {
    display: flex;
    justify-content: center;
}

.display {
    background-color: rgb(68 114 196);
    width: 70%;
    color: white;
    border-radius: 10px;
    padding-left: 25%;
    font-size: 20px;
    font-weight: bolder;
}

.table{
    border-width: 10px;
}